@charset "UTF-8";

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* ------------共通のスタイル------------ */
html {
  height: 100%;
}

a {
  color: #333333;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

body {
  color: #333333;
  height: 100%;
}

.mgb-15 {
  margin-bottom: 15px;
}

.common-btn {
  display: block;
  width: 130px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  padding: 0 20px;
  color: #000;
  text-align: center;
}

.section-title {
  font-size: 40px;
  line-height: 1;
}

.section-title span {
  font-size: 20px;
}

/* ------------headerの記述------------ */

#top-header {
  height: 70px;
  line-height: 70px;
  background: rgba(0, 0, 0, 1);
}

.header-logo {
  font-size: 20px;
  font-weight: bold;
  margin-left: 35px;
  color: #fff;
  line-height: 70px;
}

.header-nav li {
  display: inline-block;
  margin-right: 35px;
  font-size: 16px;
}

.header-nav a {
  color: #fff;
}

#firstview {
  height: 100%;
  background: url(../img/eyecatch.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.catchcopy {
  position: absolute;
  top: 60%;
  left: 10%;
  font-size: 60px;
  font-style: italic;
  font-weight: bold;
  color: #fff;
  line-height: 1;
}
/* ------------newsの記述------------ */
.news {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
}
.news-content {
  background: #fff;
  width: 80%;
  height: 70px;
}

.news_date {
  padding-left: 5px;
}

.news_title {
  padding: 0 15px;
}
.news-icon {
  background: #000;
  width: 20%;
  height: 70px;
  line-height: 70px;
  text-align: center;
  color: #fff;
}

/* ------------missionの記述------------ */
.mission {
  background-color: #000;
  position: relative;
  margin-bottom: 10%;
  z-index: 999;
}

.mission-content {
  padding: 10% 0 10% 20%;
  box-sizing: border-box;
  width: 70%;
}

.mission-title {
  color: #fff;
  font-size: 30px;
  margin-bottom: 30px;
}

.mission-text {
  color: #fff;
  margin-bottom: 30px;
}

.mission-img {
  width: 40%;
  position: absolute;
  bottom: -10%;
  right: 5%;
  z-index: -999;
}

/* ------------serviceの記述------------ */

.service  {
  margin-bottom: 10%;
  background: rgb(241, 241, 241);
}

.service-text {
  padding-bottom: 15%;
}


.service h2 {
  text-align: center;
  padding: 20px 0;
  font-size: 40px;

}

.service-content {
  position: relative;
  background: rgb(241, 241, 241);

}

.service-img {
  width: 50%;
  margin-left: 50%;
  margin-bottom: 15%;
}

.service-img2 {
  margin: 0 50% 0 0;
  padding-bottom: 15%;

}


.service-contents-cam {
  position: absolute;
  top: 10%;
  left: 20%;
  background-color: #fff;
  width: 40%;
  padding: 7% 5%;
  box-sizing: border-box;
}

.service-title {
  font-weight: bold;
  margin-bottom: 15px;
}

.service-link1 {
  border: 1px solid #000000;
  margin: 0 0 0 auto;
}

.service-contents-smork {
  position: absolute;
  top: 60%;
  left: 40%;
  background-color: #fff;
  width: 40%;
  padding: 7% 5%;
  box-sizing: border-box;  
}


.service-title2 {
  font-weight: bold;
  padding-bottom: 15%;
}

.service-link2 {
  border: 1px solid #000000;
  margin: 0 0 0 auto;
}
.campany-contents {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-weight: bold;
}


/* ------------recruitの記述------------ */

.campany-contents {
  margin-bottom: 10%;
}

.campany-campany {
  background: url(../img/company.jpeg) center/cover no-repeat;
  width: 48%;
  height: 300px;
  position: relative;
}

.campany-title {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  transform: translate(-50%,-50%);

}

.campany-recruit {
  background: url(../img/recruit.jpg) center/cover no-repeat;
  width: 48%;
  height: 300px;
  color: #fff;
  position: relative;
}



/* ------------faqの記述------------ */

.FAQ {
  width: 70%;
  background-color: #000;
  margin: 0 auto 10%; 
  padding: 50px;
  color: #fff;
}

.FAQ-logo {
  font-size: 40px;
  font-weight: bold;
  display: inline-block;
}

.FAQ-text {
  font-size: 20px;
  width: 82%;
  text-align: center;
  color: #fff;
  display: inline-block;

}

/* ------------contactの記述------------ */


.contact {
  background: url(../img/contact-bg.jpg) center/cover no-repeat;
  padding: 10%;
}

.contact-title,
.contact-title span,
.contact-submit,
.contact-text,
.contact-word {
  text-align: center;
  color: #fff;
}

.contact-title,
.contact-submit,
.contact-text,
.contact-word {
  margin-bottom: 40px;
}

.contact-submit {
  border: 1px #fff solid;
  background: none;
  margin: 0 auto;
}


/* ------------footerの記述------------ */

.footer {
  color: #fff;
  background-color: #000;
  text-align: center;
}

.end-contents {
  height: 70px;
  line-height: 70px;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  font-weight: bold;
  margin-left: 35px;
  font-size: 20px;
  color: #f2f2f2;
  line-height: 40px;
}

.footer-nav ul{
  display: flex;
}

.footer-nav li {
  margin-right: 35px;
}

.footer-nav a {
  color: #f2f2f2;
}

.footer small {
  text-align: center;
  margin-bottom: 15px;
}

@media screen and (max-width : 768px) {

#hamburger {
  width: 30px;
  height: 30px;
  position: absolute;
  cursor: pointer;
  z-index: 100;
  top: 10px;
  right: 20px;
  transition: 0.4s;
}

#hamburger span {
  position: absolute;
  left: 2px;
  display: block;
  width: 35px;
  height: 2px;
  background-color: #fff;
  transition: 0.8s;
}

#hamburger span:nth-of-type(1) {
  top: 5px;
}

#hamburger span:nth-of-type(2) {
  top: 15px;
}

#hamburger span:nth-of-type(3) {
  top: 25px;
}

.header-nav {
  display: none;
}

#firstview {
  display: block;
  width: auto;
  height: 700px;
}

.header-nav {
  display: none;
}

.catchcopy {
  top: 50%;
  left: 50%;
  width: 80%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.news {
  width: 100%;
}

.mission-content {
  padding: 10% 0;
  margin: 0 auto;
}

.service-content {
  padding: 10% 0;
  margin: 0 auto;
}

.service-contents-cam {
  width: 60%;
  left: 10%;
}

.service-img {
  width: 70%;
  margin-left: 30%;
}

.service-img2 {
  margin: 0 30% 0 0;
}

.service-content {
  margin: 0 auto;
}

.service-contents-cam {
  width: 90%;
  position: inherit;
  background: rgba(255, 255, 255, 0.8);
  left: 5%;
}

.service-contents-smork {
  width: 90%;
  position: inherit;
  background: rgba(255, 255, 255, 0.8);
  left: 5%;
}


.service-img {
  width: 90%;
  margin: 0 auto;
}

.service-img2 {
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

.campany-contents {
  display: block;
}

.campany-campany {
  width: 100%;
  position: relative;

}

.campany-recruit {
  width: 100%;
  position: relative;
}

.FAQ {
  display: flex;
  font-size: 30px;
}

.FAQ-text {
  margin: auto;
}

.footer-logo {
  margin: 0;
  width: 100%;
  text-align: center;
}
.footer-nav {
  display: none;
}

}